<div class="container">
  <div class="left-container">
    <h2>Transcribe Audio to Text</h2>
    <div class="subtext">
      Convert audio to text with our AI transcripton tool. We support 120+
      languages and 45+ formats.
    </div>
    <div class="upload-btns">
      <button>Upload File</button>
      <button>Paste Link</button>
      <button>Record Audio</button>
    </div>
  </div>
  <div class="right-container">
    <div class="inner-box">
      <div class="icons"></div>
      <div class="txt">Click or drag & drop to upload your audio</div>
      <button>Upload File</button>
    </div>
  </div>
</div>
